
*.exe
*.obj
*.lnk

stderr.txt
stdout.txt
make.bat
.vscode/tasks.json

player1/GRIDT8.LBM
player1/INTRO.LBM
player2/GRIDT8.LBM
player2/INTRO.LBM
player3/GRIDT8.LBM
player3/INTRO.LBM
player1/INTRO2.LBM
player2/INTRO2.LBM
player3/INTRO2.LBM
player3/GRIDT9.LBM
RADYUM.TR
DPMI16BI.OVL
TDCONFIG.TD
MUSIC3.mod
